<div style="padding: 20px; font-family: sans-serif;">
  <h1>Azure Weather Data</h1>

  <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
    <thead style = "background-color: #f2f2f2;">
      <tr>
        <th>Date</th>
        <th>Temperature(&deg;C)</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of weatherData">
        <td>{{ item.date | date:'short'}}</td>
        <td>{{ item.temperatureC }}&deg;C</td>
        <td>{{ item.summary }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="weatherData.length === 0">
    <p> Loading data or Check console for CORS errors</p>
  </div>
</div>